/* You may use the following selectors, but it's not required. */

body {
	font-size: 12pt;
	font-family: Arial;
	background-color: #F3CDEE;
	margin: 0 auto;
	text-align: center;
}

#header {
	font-size: 50px;
	font-family: ComicSansMs;
	font-weight:700;
	text-transform: uppercase;
	padding: 20px 20px 20px 20px;
}

#description {
	font-family: ComicSansMs;
}

.list-title {
	padding: 0px 20px 20px 20px;
}

.list-container {
	font-family: ComicSansMs;
	padding: 20px 20px;
}

#subheader{
	font-style:italic;
	font-family: ComicSansMs;
	padding: 0px 20px 20px 20px;
}

a {
	text-decoration: none;
}
#link {
	width:200px;
	background-color: #81c1be;
	color: #fff;
	font-weight: bold;
	padding: 20px 15px;
	margin: 35px auto 20px;
}
#thumbnail img {
	width:500px;
}